@font-face{
    font-family:nor_medium;
    src: url(../Montserrat/Montserrat-Medium.ttf)
    }
.navbar{
    font-family: nor_medium;
}
.height_res{
    height: 90px;
}
.height_res-1{
    height: 60px;
}